<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wearetriple.tripleonboarding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.hourbook.detail.HourBookDetailActivity"
            android:parentActivityName=".ui.hourbook.overview.HourBookOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.hourbook.overview.HourBookOverviewActivity" />
        <activity
            android:name=".ui.games.memory.MemoryActivity"
            android:parentActivityName=".ui.games.GamesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.department.detail.DepartmentDetailActivity"
            android:parentActivityName=".ui.department.overview.DepartmentOverviewActivity" />
        <activity android:name=".ui.department.overview.DepartmentOverviewActivity" />
        <activity android:name=".ui.faq.FaqActivity" />
        <activity android:name=".ui.fact.FactActivity" />
        <activity
            android:name=".ui.games.quiz.QuizActivity"
            android:parentActivityName=".ui.games.GamesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.games.GamesActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.info.InfoActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>